@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: #892d6f;
  --dark-grey: #474a49;
  --dark-white: white;
  --dark-title: #742685;
  --dark-cover: #1c2120;;
  --dark-h2: #ffffff;
  --dark-button-exercice: #83839D;
  --dark-button-termine: #69AF4B;
  --dark-cover2: rgb(95, 95, 95);
  --dark-bloc: #3f3f3f;
}


