@import "../../Root.scss";

body.active-register {
  overflow-y: hidden;
}

.btn-register {
  display: block;
  font-size: 18px;
  text-decoration: underline;
  color: var(--dark-h2);
}

.register {
  width: 100vw;
  height: 100vh;
  background-color: var();
}

.register-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nouveau-compte {
  
    font-size: 2em;
    color: var(--dark-h2);
  
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  gap: 0.4em;

  input {
    border: solid var(--dark-grey);
    border-radius: .5rem;
    background-color: var(--dark-grey);
    color: white;
  }
}

::placeholder {
  color: var(--dark-white);
  font-size: large;
}

.email1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  gap: 0.4em;

}

input {
    border: solid var(--dark-grey);
    border-radius: .5rem;
    background-color: var(--dark-grey);
    color: white;
    max-width: 80vw;
    margin: 0 10vw;
    min-width: 50vw;
  }

.password1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  gap: 0.4em;

  input {
    border: solid var(--dark-grey);
    // border-radius: 16px;
    // height: 3em;
    // width: 22em;
    background-color: var(--dark-grey);
    color: white;
    margin-top: 20px;
  }
}

.sign-up {
  font-family: Arial, Helvetica, sans-serif;
    border: solid var(--dark-blue);
    border-radius: 7px;
    font-size: 18px;
    color: var(--dark-white);
    height: 3em;
    width: 12em;
    background-color: var(--dark-blue);
    margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .register-content {
    
  }

  .nouveau-compte {
    font-size: 40px;
  }
  .name {
   
  
    input {
      width: 50em;
      height: 4em;
    }
  }

  .email1 {
   
  
    input {
      width: 50em;
      height: 4em;
    }
  }

  .password1 {
   
  
    input {
      width: 50em;
      height: 4em;
    }
  }



  .sign-up {
    width: 30em;
      height: 3.5em;
      font-size: 18px;
  }
}
